TRIM_GALORE-THREADS: 7
SORTMERNA-THREADS: 50
METARIB-THREADS: 50
QUAST-THREADS: 50
QUAST-THREADS: 50
ANTISMASH-THREADS: 50
BLAST-THREADS: 32
PIGZ-THREADS: 50
assemble_reads-THREADS: 100
assemble_reads-MEMORY: 500 # Gb
filter_non_coding_rna-THREADS: 16
map_reads_to_contigs-THREADS: 24
align_contigs_to_database-THREADS: 50

# Regular expression to rename raw reads
READS_REGEX: .+[-|_](.+)_.+_(.+)_.+\.fastq.gz

trim_galore:
  - "--trim-n" #Removes Ns from either side of the read.
  - "--illumina" #Illumina adapter
  # Don't run with --paired neither -j

sortmerna:
  - "--fastx" #Output aligned reads into FASTA/FASTQ file
  - "--paired_in" #Flags the paired-end reads as Aligned, when either of them is Aligned.
  - "--out2" #Output paired reads into separate files.
# https://github.com/biocore/sortmerna/issues/206
#  - "-m 10240" #"Indexing: the amount of memory (in Mbytes) for building the index"

metarib:
  # Subsampling reads number in each iteration        
  - SAMPLING_NUM : 1000000
  # EMIRGE parameters   
  - EM_PARA : --phred33 -l 151 -i 300 -s 75 -a 64 -n 25
  # BBTOOLS mapping parameters   
  - MAP_PARA : minid=0.96 maxindel=1 minhits=2 idfilter=0.98   
  # BBTOOLS cluster parameters   
  - CLS_PARA : fo=t ow=t c=t mcs=1 e=5 mid=99    
  # Minimium averge coverage in filter process    
  - MIN_COV : 2 
  # Minimium coverge percent in filter process   
  - MIN_PER : 80

blastn:
  - "-task megablast"  #Traditional megablast used to find very similar (e.g., intraspecies or closely related species) sequences
  - "-num_alignments 100" #Show alignments for this number of database sequences.

crest4:
  - "--search_algo blast"
  - "--search_db silvamod128"

assemble_reads:
  - "--SS_lib_type RF" # Strand-specific RNA-Seq read orientation
  # There is no need to add --single or seqtype
filter_ncRNA:
  - "-e 3" # E-value in integar
  - "-r n" # Delete temporary files created

filter_mRNA_abundance_minimum: 1 # Relative expression in integars

# Align contigs to database
filter_by_abundance_before_align: false
# Align contigs to database (diamond edition)
diamond: 
  - "-e 0.001" # Maximum expected value to report an alignmen
  - "--very-sensitive" # enable the very-sensitive mode designed for best sensitivity including the twilight zone range of <40% identity
  - "--compress 1" # gzip compression

# Old sword edition
ORFs_translate: 6 # Number of ORFs (1-6) to be calculated for alignment
split_fasta: 12 # Number of parts Fasta file to be splitted in (greater than 1)
align_contigs_to_database:
  - "-s 12" # Number of parts Fasta file to be splitted in (greater than 1)
  - "-n 6" # Number of ORFs (1-6) to be calculated for alignment
  - "--remove" # Remove temporary files
